# Put temporary objects in 'obj', (test) binaries in 'bin',
# and other stuff (such as test root files) in tmp.
*/obj
*/bin
*/tmp
pydump*.py
core/python/__init__.py
*.pyc
*.root
*~
*.local
*.pdf
*.png
*.json
VLQToHiggsPairProd/*
ZprimeSemiLeptonic/*
Varial
BaconJets/*
JECDatabase/*
pydump.py
Makefile.local
JetsTest/*
