# Put temporary objects in 'obj', (test) binaries in 'bin',
# and other stuff (such as test root files) in tmp.
*/obj
*/bin
*/tmp
pydump*.py
**/python/__init__.py
*.pyc
*.root
*.d
*.so
*.pcm
*~
*.local
*.pdf
*.png
*.json
common/UHH2-datasets/*
VLQToHiggsPairProd/*
ZprimeSemiLeptonic/*
Varial
BaconJets/*
JECDatabase/*
JRDatabase/*
pydump.py
Makefile.local
JetsTest/*
